In [1]:
# for testing API
from dotenv import load_dotenv
import os

load_dotenv

s2 = os.getenv('TEST_S2')
swid = os.getenv('TEST_SWID')
year = int(os.getenv('TEST_YEAR'))
league_id = int(os.getenv('TEST_LEAGUE_ID'))

import importlib
import fantasy_page
importlib.reload(fantasy_page)
from fantasy_page import FantasyPage
fp = FantasyPage(league_id, s2, swid, year, "total")

Fetching Schedule...
Schedule is loaded
Fetching ESPN API...
Initializing Images...
❌ No current available image for Yang Hansen
Finished Intitializing Images

In [2]:
import pandas as pd
df = fp.player_dataframe
df.loc[df['Player Name'] == "Bam Adebayo", 'AST']

26    3.285714
Name: AST, dtype: float64

In [3]:
df.columns

Index(['Player Name', 'Player ID', 'Team', 'Team ID', '3PM', 'AST', 'FGM',
       'STL', 'BLK', 'REB', 'FGA', 'FTA', 'TO', 'FTM', 'PTS', 'FT%', 'FG%',
       'Expected Games', 'PG', 'SG', 'SF', 'PF', 'C', 'Expected 3PM',
       'Expected AST', 'Expected FGM', 'Expected STL', 'Expected BLK',
       'Expected REB', 'Expected FGA', 'Expected FTA', 'Expected TO',
       'Expected FTM', 'Expected PTS', 'ProTeam', 'Injured', '2025-11-05',
       '2025-11-06', '2025-11-07', '2025-11-08', '2025-11-09',
       'FT%_percentile', 'FG%_percentile', 'PTS_percentile', 'AST_percentile',
       'REB_percentile', 'BLK_percentile', 'STL_percentile', 'TO_percentile',
       '3PM_percentile'],
      dtype='object')

In [5]:
df.loc[df['Player Name'] == "Gordon Hayward", "2025-11-05"]

285    0
Name: 2025-11-05, dtype: int64

In [6]:
df["2025-11-05"].unique()

array([1, 0])

In [5]:
fp.scoreboard.columns

Index(['Team', 'Team ID', 'Score', 'PTS', 'REB', 'FTA', 'AST', 'FGA', 'STL',
       'FGM', 'FTM', 'BLK', '3PM', 'TO'],
      dtype='object')

In [3]:
yop = df[df["Team ID"] == 5]
print(yop['Expected AST'].sum())
print(yop['Expected TO'].sum())

print(yop['Expected PTS'].sum())

29.279999999999998
12.790000000000001
117.94999999999999

In [4]:
trog = df[df["Team ID"] == 8]
print(trog['Expected AST'].sum())
print(trog['Expected TO'].sum())
print(trog['Expected PTS'].sum())

31.9
17.01
129.26

In [5]:
#DATAFRAME SORTING:
expected_ast = df[df['Team ID'] == -1]
expected_ast.loc[:, ['Player Name']  + df.columns[df.columns.str.startswith("Expected")].tolist()].sort_values(by=["Expected AST"], ascending=[False])

,Player Name,Expected Games,Expected 3PM,Expected STL,Expected FTM,Expected PTS,Expected FGA,Expected REB,Expected FGM,Expected BLK,Expected AST,Expected TO,Expected FTA
135,Chris Paul,1,1.51,1.09,0.91,7.99,6.50,3.30,2.78,0.20,6.59,1.41,1.00
120,D'Angelo Russell,1,2.52,1.00,2.33,15.91,13.20,3.20,5.53,0.50,6.11,2.20,2.80
140,Dennis Schroder,1,1.64,0.80,2.44,13.17,11.00,2.71,4.55,0.20,5.51,1.91,2.91
110,Malik Monk,1,2.10,0.80,2.41,16.51,13.61,3.51,6.00,0.51,5.30,2.30,2.80
128,Egor Demin,1,0.22,1.19,1.97,13.11,11.69,4.60,5.46,0.69,4.81,2.40,2.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,Derik Queen,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
221,Jeremy Sochan,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
158,Jaden Ivey,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
218,Khaman Maluach,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
308,Kyle Anderson,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [6]:
expected_ast = df[df['Team ID'] == -1]
expected_ast.loc[:, ['Player Name']  + df.columns[df.columns.str.startswith("Expected")].tolist()].sort_values(by=["Expected AST"], ascending=[False])

,Player Name,Expected Games,Expected 3PM,Expected STL,Expected FTM,Expected PTS,Expected FGA,Expected REB,Expected FGM,Expected BLK,Expected AST,Expected TO,Expected FTA
135,Chris Paul,1,1.51,1.09,0.91,7.99,6.50,3.30,2.78,0.20,6.59,1.41,1.00
120,D'Angelo Russell,1,2.52,1.00,2.33,15.91,13.20,3.20,5.53,0.50,6.11,2.20,2.80
140,Dennis Schroder,1,1.64,0.80,2.44,13.17,11.00,2.71,4.55,0.20,5.51,1.91,2.91
110,Malik Monk,1,2.10,0.80,2.41,16.51,13.61,3.51,6.00,0.51,5.30,2.30,2.80
128,Egor Demin,1,0.22,1.19,1.97,13.11,11.69,4.60,5.46,0.69,4.81,2.40,2.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,Derik Queen,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
221,Jeremy Sochan,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
158,Jaden Ivey,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
218,Khaman Maluach,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
308,Kyle Anderson,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [8]:
df["ProTeam"]

0      SAS
1      PHX
2      HOU
3      BKN
4      TOR
      ...
305    MIL
306    UTA
307     FA
308    MIA
309    CHI
Name: ProTeam, Length: 310, dtype: object

In [6]:
df.to_parquet("../MockData/player_df.parquet")

In [7]:
df2 = fp.scoreboard
df2.to_parquet("../MockData/scoreboard.parquet")

In [11]:
df2

,Team,Team ID,Score,FGA,FTA,AST,FTM,BLK,TO,FGM,STL,REB,3PM,PTS
0,SGA fan club,4,5.0,387.0,185.0,104.0,143.0,16.0,62.0,166.0,35.0,152.0,40.0,515.0
1,Zesty Zion,7,4.0,287.0,124.0,72.0,90.0,17.0,49.0,146.0,36.0,151.0,33.0,415.0
2,TRZ Nnamdi,8,3.0,273.0,93.0,63.0,73.0,18.0,50.0,149.0,9.0,152.0,26.0,397.0
3,Yops' Good Trades,5,6.0,287.0,84.0,80.0,76.0,14.0,37.0,139.0,23.0,88.0,58.0,412.0
4,The Awesome Pawsome Team,1,6.0,301.0,112.0,75.0,86.0,20.0,40.0,154.0,21.0,117.0,28.0,422.0
5,Gorilla Grip Defense,6,3.0,272.0,95.0,85.0,75.0,10.0,46.0,117.0,18.0,107.0,31.0,340.0
6,Cade n em,2,4.0,283.0,117.0,93.0,86.0,12.0,55.0,135.0,18.0,159.0,38.0,394.0
7,Lynnsanity,3,5.0,319.0,124.0,105.0,91.0,13.0,68.0,155.0,21.0,132.0,37.0,438.0